.pHeader{
    font-family:sans-serif;
    color: white; 
}

.pContent {
    font-family:sans-serif;
    color: white;   
}

.sideText {
    font-family:sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
    align-items: flex-start;
}
main {
    flex: 2;
    padding: 20px;
    margin-right: 20px;
    background-color: #EF798A;
}

aside {
    flex: 1;
    padding: 20px;
    background-color: #EF798A; 
    float: right; 
    border:20px;
}

.sidebar {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    aside {
        order: 0;
        margin-bottom: 20px; 
        margin-right: 0; 
    }

    main {
        order: 1; 
        margin-right: 0px;
    }
}

article {
    border: 2px solid rgb(223, 160, 160); 
    padding: 20px; 
    margin-bottom: 20px; 
    background-color: #f7a9a8; 
    border-radius: 5px;
}

.backBttn {
    width: 100px;
    height: 30px;
    background-color: rgb(229, 169, 238);
    border: none;
    color: white;
    cursor: pointer;
}

#generateFact {
    width: 100px;
    height: 30px;
    background-color: rgb(229, 169, 238);
    border: none;
    color: white;
    cursor: pointer;
}